<head>
    <link rel="icon"
      type="image/png"
      href="favicon.png" />
    <title>Task Master</title>
</head>

<body>
  <div class="container">
      {{> taskListHeader}}
      {{> taskList}}
      {{> newTask}}
  </div>

    <div class="container" ng-controller="tasksController">
        <header>
            <div class="filter">
                <label class="hide-completed">
                    <input type="checkbox" ng-model="hideCompleted"/>
                    Hide Completed Tasks
                </label>
            </div>
            <h1>Task List</h1>

            <div class="login-control">
                <span class="welcome" ng-if="loggedIn()">Welcome</span>
                {{> loginButtons align="right"}}
            </div>
        </header>

        <ul>
            <li ng-class="{checked: (task.checked == true), private: (task.private)}" ng-repeat="task in filteredTasks() | orderBy:'createdAt':true">
                <input type="checkbox" ng-model="task.checked" class="toggle-checked" ng-change="toggleChecked(task)"/>

                <button class="toggle-private" ng-if="isOwner(task)" ng-click="togglePrivate(task)">
                    [[ privateStatus(task) ]]
                </button>

                <span class="text">[[task.name]]</span>
                <span class="email" ng-if="task.email">[[task.email]]</span>
                <button class="delete-button" ng-click="deleteTask(task)">&times;</button>

            </li>
        </ul>

        <form class="new-task" ng-if="loggedIn()" ng-submit="addTask()">
            <input type="text" name="text" placeholder="Type here to add new tasks" ng-model="model.newTodoText"/>
        </form>
    </div>
</body>
