<template name="taskItem">
    <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
        <input type="checkbox" checked="{{checked}}" class="toggle-checked"/>

        {{#if isOwner}}
            <button class="toggle-private">
                {{#if private}}
                    Private
                {{else}}
                    Public
                {{/if}}
            </button>
        {{/if}}
        <span class="text">{{name}}</span>
        {{#if email}}
            <span class="email">{{email}}</span>
        {{/if}}
        {{#if canDelete}}
            <button class="delete-button">&times;</button>
        {{/if}}
    </li>
</template>

